<%- include('./includes/head.ejs') %>
<%- include('./includes/menu.ejs'); %>
    <section id="edit">
        <div id="header-edit">
            <h1>Atualize ou edite a sua agenda</h1>
            <p>Preencha os dados logo a baixo</p>
        </div>
        <% if(contact._id) { %>
            <form action="/add/edit/<%= contact._id %>" method="POST" id="form-edit">
            <% } else { %>
                    <form action="/add/contact" method="POST" id="form-edit">       
            <% } %>
            <fieldset id="group">
                <%- include('./includes/panel-errors.ejs'); %>
                <div>
                    <label><strong>Nome:</strong></label><br>
                    <input type="text" value="<%= contact.name %>" placeholder="Nome" name="name"/><br>

                    <label><strong>Sobrenome:</strong></label><br>
                    <input type="text" value="<%= contact.lastName %>" placeholder="Sobrenome" name="lastName"/><br>

                    <label><strong>Email:</strong></label><br>
                    <input type="text" value="<%= contact.email %>" placeholder="email" name="email"/><br>

                    <label><strong>Telefone:</strong></label><br>
                    <input type="text" value="<%= contact.phone %>" placeholder="Telefone" name="phone"/>
                </div>
            </fieldset>
            <button type="submit" id="update">Enviar</button>
        </form>
    </section> 
<%- include('./includes/footer.ejs') %>
